 <div class="page-container">
  <div class="header">
    <h2>THIS IS YOU WHEN...</h2>
    <p><i>(refresh the page to refresh the cats!)</i></p>
  </div>

  <div class="cat-container">
    <div class="cat-block">
      <p>...the sun comes out</p>
      <img src=<%= find_sunglasses_cat %>>
    </div>

    <div class="cat-block">
      <p>...you want to be super cosy</p>
      <img src=<%= find_boxes_cat %>>
    </div>

    <div class="cat-block">
      <p>...you've noticed that you smell</p>
      <img src=<%= find_sink_cat %>>
    </div>

    <div class="cat-block">
      <p>...you're daydreaming</p>
      <img src=<%= find_space_cat %>>
    </div>

    <div class="cat-block">
      <p>...you want to be ✨fashionable✨</p>
      <img src=<%= find_clothes_cat %>>
    </div>

    <div class="cat-block">
      <p>...you have to dress up for the office</p>
      <img src=<%= find_tie_cat %>>
    </div>
  </div>
</div>
